<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">FieldSelector</h1>
    <p>
      Field Selectors allow you to specify in a request exactly what data you
      wish to recieve in the response. This allows the client to get an efficient
      response with only the fields required.
    </p>
    <p>
      The fields can come from the endpointʼs associated Schema, or from an
      attribute exposed in any of the views of the resource. Multiple fields are
      separated by commas.
    </p>
    <p>
      You can also select properties from nested schemas of a parent schema
      using curly braces. For example, requesting <code>id,name,links{roadmap,child_bars{href}}</code>
      on a <strong>Bar</strong> resource would look like this:
    </p>

    <br>
    Request:
    <pre>https://app.productplan.com/api/bars/16?view=full&fields=id,name,links{roadmap,child_bars{href}}</pre>

    Response:<br>
    <pre><code class="language-json">{
  "id": 16,
  "name": "A New Name",
  "links": {
    "roadmap": {
      "href": "/api/roadmaps/1"
    },
    "child_bars": {
      "href": "/api/bars/16/child_bars"
    }
  }
}</code></pre>

    <br>
    <p>
      If you do not specify attributes of nested properties, the <code>default</code>
      view will be used to render them.
    </p>
  </div>
</div>
