<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Filtering Params</h1>
    <p>
      Endpoint actions that provide filtering allow you to select a subset of items within the resource collection,
      based on one or more filters describing matching requirements for the items.
    </p>
    <p>
      Filters in an action will specify the list of allowed fields along with a set of operators that can be used
      to describe how to match their values.
    </p>

    <br>
    <h2>Operators</h2>
    <p>
      The superset of supported operators are:
    </p>
    <table class="description">
      <tbody>
        <tr>
          <td>
            <code>=</code>
          </td>
          <td>
            Selects items where the field's value matches the specified value
            (see <i>fuzzy matching</i> and <i>matching multiple values</i>)
          </td>
        </tr>
        <tr>
          <td>
            <code>!=</code>
          </td>
          <td>
            Selects items where the field's value does not match the specified value
          </td>
        </tr>
        <tr>
          <td>
            <code>&lt;</code>
          </td>
          <td>
            Selects items where the field's value is smaller than the specified value
          </td>
        </tr>
        <tr>
          <td>
            <code>&gt;</code>
          </td>
          <td>
            Selects items where the field's value is greater than the specified value
          </td>
        </tr>
        <tr>
          <td>
            <code>&lt;=</code>
          </td>
          <td>
            Selects items where the field's value is smaller than or equal to the specified value
          </td>
        </tr>
        <tr>
          <td>
            <code>&gt;=</code>
          </td>
          <td>
            Selects items where the field's value is greater than or equal to the specified value
          </td>
        </tr>
      </tbody>
    </table>

    <br>
    <h3>Fuzzy Matching</h3>
    <p>
      Filters may also accept values for a field with <code>fuzzy</code> matching, which allows one to
      prefix or postfix match a value by adding a <code>*</code> to the beggining or the end of it.  Note that this
      does not allow free-form pattern matching, as it will only be accepted at the beggining or at the end.
    </p>

    <br>
    <h3>Matching Multiple Values</h3>
    <p>
      A filter can contain multiple values for which a field's value may match.
      Each of the allowed values must be separated by <code>,</code>.
    </p>

    <br>
    <h2>Multiple Matches</h2>
    <p>
      A filter expression can contain multiple matches on a field (including repeating a field when appropriate).
      Each of the matches must be separated by <code>&</code>.
    </p>

    <br>
    <h2>Examples</h2>
    <table class="description">
      <tbody>
        <tr>
          <td>
            <code>email=joe@example.com</code>
          </td>
          <td>
            Filter elements having an email value of "joe@example.com"
          </td>
        </tr>
        <tr>
          <td>
            <code>start_date>2001-1-1</code>
          </td>
          <td>
            Filter elements having a start_date later than "January 1, 2001"
          </td>
        </tr>
        <tr>
          <td>
            <code>parent.id=1,2,3</code>
          </td>
          <td>
            Filter elements belonging to parents with id "1", "2", or "3"
          </td>
        </tr>
        <tr>
          <td>
            <code>salary&lt;=50000&job=Admin*</code>
          </td>
          <td>
            Filter elements having a salary up to and including $50K and a job which starts with "Admin"
          </td>
        </tr>
      </tbody>
    </table>

    <p>
      Note: These examples are presented in the raw syntax, but they will all need to be properly encoded when passed
      as the value of the <code>filters</code> parameter in the query string. For example:
    </p>
    <ul>
      <li>
        <code>filters=parent.id=1,2,3&name=Joe*</code> will become
        <code>filters=parent.id%3D1%2C2%2C3%26name%3DJoe%2A</code> after encoding it
      </li>
    </ul>
  </div>
</div>
