<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Ordering Params</h1>
    <p>
      Endpoint actions that provide the order parameter allow you to specify the order with which the collection
      will be presented. This is especially important in conjunction with
      <a href="#/concepts/pagination_params">pagination</a> to make sure the traversal follows a consistent direction,
      but it is also useful to presort a particular result set even if all elements have been received.
    </p>
    <p>
      Built-in sorting supports a syntax inpired by the JSON-API specification.  It allows you to sort by
      multiple fields to resolve tie-breakers, and each field can be defined with a <code>-</code> or <code>+</code>
      sign to indicate descending or ascending order. The lack of sign defaults to ascending order.
    </p>
    <p>
      Here are some handy examples:
    </p>
    <ul>
      <li>
        <code>-id</code>: &nbsp; Sort by the values of the <code>id</code> field, in descending order
      </li>
      <li>
        <code>name,-start_date,id</code>: &nbsp;
        Sort by <code>name</code> values, then by descending order of <code>start_date</code>, and finally by <code>id</code>
      </li>
    </ul>
    <br>
    <p>
      Ordering definitions are commonly bound to the MediaType of the associated collection to retrieve,
      so only the field names of the MediaType are going to be allowed. It is also possible that an ordering type
      restricts the fields by which one can sort. Look at the action specifications for details.
    </p>
    <p>
      If the ordering definition specifies that only the first ordering position will be enforced, then
      the first field specified in the order parameter must be a field specified by the ordering definition. However,
      that does not mean that you cannot specify other fields in the order parameter, in subsequent positions.
      For example, if the ordering definition specifies the fields <code>id,name</code>:
    </p>
    <ul>
      <li>
        <strong>valid</strong>:&nbsp;
        <code>id</code>, <code>name</code>, <code>-name,id</code>, <code>name,-start_date</code>,
        <code>name,description</code>, <code>name,start_date,-effort,id</code>, etc
      </li>
      <li>
        <strong>invalid</strong>:&nbsp;
        <code>start_date</code>, <code>start_date,name</code>, <code>description,id</code>,
        <code>effort,name,id</code>, <code>effort,start_date,name,id</code>, etc
      </li>
    </ul>
    <br>
    <p>
      If the ordering definition specifies that all ordering positions will be enforced, then every one of the fields
      specified in the order parameter must be a field specified by the ordering definition.
      For example, if the ordering definition specifies the fields <code>id,name</code>:
    </p>
    <ul>
      <li>
        <strong>valid</strong>:&nbsp;
        <code>id</code>, <code>name</code>, <code>id,name</code>, <code>id,-name</code>,
        <code>name,id</code>, <code>name,-id</code>, etc
      </li>
      <li>
        <strong>invalid</strong>:&nbsp;
        <code>start_date</code>, <code>id,start_date</code>, <code>name,start_date</code>,
        <code>name,effort</code>, <code>name,id,effort</code>, etc
      </li>
    </ul>
  </div>
</div>
