<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Pagination Params</h1>
    <p>
      Endpoint actions that provide the pagination parameter restrict how many items of the targetted colletion can be
      received in a single request. However, using the provided syntax the client can choose how to traverse such
      collections in a sequence of requests.
    </p>
    <p>
      The built-in pagination supports two types of collection traversal: page- and cursor-based.
      Note that it is possible for an endpoint action to disable either of them, so look for the documentation
      on the action to see which ones are available for use.
    </p>
    <p>
      Here are some handy examples:
    </p>
    <table class="description">
      <tbody>
        <tr>
          <td>
            <code>page=2</code>
          </td>
          <td>
            Retrieve the second page of elements from the collection<br>
            (i.e. elements 101-200 since the default page size is 100)
          </td>
        </tr>
        <tr>
          <td>
            <code>page=4,items=50</code>
          </td>
          <td>
            Retrieve the fourth page of 50 elements from the collection<br>
            (i.e. elements 151-200)
          </td>
        </tr>
        <tr>
          <td>
            <code>by=id</code>
          </td>
          <td>
            Retrieve the first set of elements from the collection based on the ascending order of their
            <code>id</code> field
            (ie: first 100 elements since the default page size is 100)
          </td>
        </tr>
        <tr>
          <td>
            <code>by=name,from=alice</code>
          </td>
          <td>
            Retrieve a page worth of elements from the collection based on the ascending order of their
            <code>name</code> field, starting at the first value <strong>after</strong> "alice".
          </td>
        </tr>
        <tr>
          <td>
            <code>page=1,total_count=true</code>
          </td>
          <td>
            Retrieve the first page of elements from the collection (page-based unknown sorting), and include the
            total count in the <code>Total-Count</code> header.
          </td>
        </tr>
      </tbody>
    </table>
    <p>
      Note: These example values are presented in the raw syntax, but they will all need to be properly encoded when
      passed in the query string parameters. For example: <code>pagination=page%3D1%2Ctotal_count%3Dtrue</code>
    </p>

    <br>
    <h2>Page-based</h2>
    <p>
      Page-based pagination returns part of the collection given a fixed page size and based on the underlying
      ordering specification. If the ordering specification is not directly set by the <code>order</code> param,
      it is considered to be "unknown" and will be whatever the underlying implementation decides is most optimal.
    </p>
    <p>
      Typically this type of pagination is associated with the well known "offset/limit" queries and allows you to
      jump directly to any of the existing pages of the result set.
    </p>
    <p>
      This pagination type is enabled by using the <code>page</code> parameter:
    </p>
    <ul>
      <li>
        <code>page=&lt;integer&gt;</code> indicates which page number to retrieve (based on a given page size)
      </li>
      <li>
        setting the page size on a per-request basis can be achieved by setting <code>items=&lt;integer&gt;</code>
      </li>
      <li>
        example: <code>page=5,items=50</code> returns items 201-250 from the collection
      </li>
    </ul>

    <br>
    <h2>Cursor-based</h2>
    <p>
      Cursor-based pagination is usually a more efficient way to traverse an entire collection. However, this type of
      pagination does not allow jumping directly to any page of the collection as it requires you to know the last seen value.
    </p>
    <p>
      This pagination type is enabled by utilizing the <code>by</code> parameter:
    </p>
    <ul>
      <li>
        <code>by=&lt;field name&gt;</code> allows traversal of the collection based on ascending order of that field's values
      </li>
      <li>
        when also using <code>from=&lt;field value&gt;</code>, the retrieved page will start from values
        <strong>after</strong> the given one.  The collection returned when no <code>from</code> value is specified is
        the very first in the result set.
      </li>
      <li>
        the default page size can be overriden on a per-request basis by specifying <code>items=&lt;integer&gt;</code>.
        There is a ceiling on the value of <code>items</code> you can set.
      </li>
      <li>
        example: <code>by=email,from=joe@example.com,items=100</code>
        traverses all elements by the "email" field in ascending order, returning a collection of [up to] 100 elements
        coming <strong>after</strong> the element having an email value of "joe@example.com".
      </li>
      <li>
        Note that there is a dependency between using field-based cursor pagination and the sorting order that one
        might want for the results returned.  In other words, the system will let you know if the use of the
        <code>by</code> clause in this pagination mode is incompatible with the requested sort <code>order</code>.
      </li>
      <li>
        Note that while the system will not prevent one from doing so, cursor-based pagination by using a non-unique
        field should be avoided.  It is possible to 'skip over' and miss out on elements in the result sets such that
        you never know they exist.
      </li>
    </ul>

    <br>
    <h2>Total-Count Header</h2>
    <p>
      Regardless of the type of pagination used, one can also request to receive the total count of elements existing
      in the collection (pre-paging) by specifying <code>total_count=true</code>. When specified,
      a <code>Total-Count</code> header will be returned containing the total number of existing collection items
      (pre-pagination). Note that this calculation incurs an extra DB query, thus having performance implications.
    </p>

    <br>
    <h2>Link Header</h2>
    <p>
      Every pagination request will return a properly populated <code>Link</code> header (as specified by RFC 5988).
    </p>
    <p>
      When using cursor-based pagination the <code>first</code> and <code>next</code> link relationships are provided.
      The one exception, when only the <code>first</code> relationship is provided, is when the end of the result set
      is reached and the returned collection is empty.
    </p>
    <p>
      When using page-based pagination, the <code>Link</code> header may contain the
      <code>first</code>, <code>prev</code>, <code>next</code>, and/or <code>last</code> relationships.
    </p>
    <ul>
      <li>
        <code>first</code>: &nbsp; is always specified
      </li>
      <li>
        <code>prev</code>: &nbsp; is always specified, except when there is no "prev" page (ie: current == first)
      </li>
      <li>
        <code>next</code>: &nbsp; is always specified, except when <code>total_count=true</code> is requested
        <i>and</i> there is no "next" page available (ie: current >= last)
      </li>
      <li>
        <code>last</code>: &nbsp; is specified always and only when the <code>total_count=true</code> is requested
      </li>
    </ul>
  </div>
</div>
