/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionRow {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
  justify-content: center;
  /* background-image: url(/img/praxis-pattern-bg.png); */
  background-repeat: repeat;
  /* background-position: contain; */
  background-size: 100%;
  font-size: large;
  font-weight: 500;
  /* background-color: #f4f7f810; */
  /* background-blend-mode: lighten; */
}