<tr>
  <td ng-bind-html="name | attributeName">
  </td>
  <td>
    <a href="#/concepts/ordering_params">Ordering</a>
  </td>
  <td>

    <div ng-if="type.fields_allowed">
      <p>Results can be ordered by the following fields: {{ type.fields_allowed.toString() }}.</p>
      <p ng-if="type.enforced_for === 'all'" > All ordering positions will be enforced to match those fields.</p>
      <p ng-if="type.enforced_for !== 'all'" > Only the first ordering position will be enforced to match those fields.</p>
    </div>

    <p ng-if="! type.fields_allowed">
      Results can be ordered by any field name
    </p>

    <attribute-description attribute="details"></attribute-description>
  </td>
</tr>
